/* Dropdown button */
.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: blueviolet;
}

/* The container <div> - needed to position the dropdown content */
.dropDown {
    position: relative;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropDown-content {
    display: none;
    position: absolute;
    background-color: mintcream;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropDown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropDown-content div:hover {background-color: aliceblue}

/* Show the dropdown menu
(use JS to add this class to the .dropdown-content container when the user
 clicks on the dropdown button) */
.show {display:block;}

/* Quiz box */
.quizBox {
    background-color: white;
    width: 350px;
    height: 350px;
    padding: 25px;
    border: 25px solid yellow;
    margin: 10px 0px;
    display: block;
}